/* adiing background image */
body {
	font-size: 120%;
	font-family: sans-serif;
	background-image: url("../images/index.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


/* Split the screen in half */
.split {
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  width: 15%;
  height: 90%;
}

/* Control the right side */
.right {
  right: 0;
  width: 85%;
  height: 90%;
 }

/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
	 opacity: 0.9;
}

li {
    float: center;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #d3d3d3;
}

/*form decoration*/
.input-group {
  margin: 0px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input textarea{
  height: 30px;
  width: 50%;
  padding: 20px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
label {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;

}
 input.text {
  height: 15px;
  width: 150px;
  padding: 5px 10px;
  margin-right: 2px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid brown;
}
.input-group text textarea{
  rows:7;
  cols:50;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

th,
td{
  padding: 15px;
  text-align: left;
  border: 1px solid black;

}
table{
  width: 60%;
  margin-left: 70px;
  background-color: white;
  opacity: 80%;
}