/* adiing background image */


body{
  background-image: url("../../images/index.jpg");
  font-size: 120%;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;

}

.menu{
  font-size: 30px;
  width: 15%;
  height: 100%;
  float: left;
  left: 10px;
  color: red;
  background-color: blue;

}

footer{
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: #7e7e7e;
  color: black;
  position: absolute; 
  padding-top:10px; 
  padding-bottom:10px; 
  text-align:center; 
  font-size:30px; 
  
}

/* Navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
	opacity: 0.9;

}

li {
  float: center;
}

li a {
  display: block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #addfff;
  height: 100%;
}
